.login-wrapper {
    width: 100%;
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Title */
.brand-title {
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    background: none;
    padding: 0;
}

.brand-lingo {
    color: #07115D;
}

.brand-refresh {
    color: #00C6FF;
}

.brand-subtitle {
    color: #030352;
}

.logo-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto 8px;
}

.input-label {
    display: block;
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}

.forgot-link {
    color: #00C6FF;
    text-decoration: underline;
}

.account-text {
    color: #555;
}

/* Illustration */
/* .illustration-box {
    margin-top: 15px;
} */

.illustration-box {
    top: -85px;
}

.illustration-img {
    width: 53%;
    max-width: 350px;
}

/* Dark curved lower section */
.bottom-card {
    background: #030352;
    margin-top: 90px;
    padding: 0px 20px 50px 20px;
    border-radius: 200px 200px 0px 0px;
}

/* Input fields */
.login-input {
    height: 48px;
    border-radius: 8px !important;
    background: #ffffff;
    border: none !important;
    text-align: center;
    font-size: 16px !important;
    color: #000 !important;
}

.login-input::placeholder {
    color: #bfbfbf;
}

/* Sign-in button */
.btn-login {
    background: #00C6FF;
    border-radius: 8px;
    color: white;
    border: none;
    height: 48px;
}

/* Forgot password */
.forgot-link {
    color: #00CCFF;
    text-decoration: underline;
}

/* Social section */
.connect-text {
    color: white;
    font-size: 15px;
}

.social-icon {
    width: 44px;
    height: 44px;
}

.divider {
    width: 1px;
    height: 40px;
    background: #ffffff80;
}

/* Bottom sign up */
.account-text {
    color: #fff;
}

.signup-link {
    color: #00C6FF;
    font-weight: 500;
    text-decoration: underline;
}

.left-leaf {
    position: absolute;
    width: 73px;
    top: 45px;
    left: -25px;
}

.right-leaf {
    position: absolute;
    right: -33px;
    width: 150px;
    top: -21px;
}

.login-form {
    margin-top: -50px;
    padding: 0px 30px 0px;
}