.mode-container {
  /* max-width: 420px; */
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  background: #f6f8fb;
}

/* Header */

.mode-header h4 {
  font-weight: 700;
  margin-bottom: 5px;
}

.mode-header p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 25px;
}

/* Card list */

.mode-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Mode Card */

.mode-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.06);
  cursor: pointer;
  transition: all 0.25s ease;
}

.mode-card:active {
  transform: scale(0.97);
}

/* Icon */

.mode-icon {
  background: #00CCFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-right: 14px;
  padding: 10px 15px;
}

/* Content */

.mode-content h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.mode-content p {
  margin: 0;
  font-size: 13px;
  color: #6c757d;
}

/* Arrow */

.mode-arrow {
  margin-left: auto;
  color: #adb5bd;
  font-size: 18px;
}